azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_JOLOGICAPPTEST3_name": {
            "defaultValue": "JOLOGICAPPTEST3",
            "type": "String"
        },
        "sites_jotestfuncappjava_externalid": {
            "defaultValue": "/subscriptions/230ff3f4-715a-44bf-bd95-09be0c6a25a2/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/jotestfuncappjava",
            "type": "String"
        },
        "sites_jonodejsfuncapp_externalid": {
            "defaultValue": "/subscriptions/230ff3f4-715a-44bf-bd95-09be0c6a25a2/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/jonodejsfuncapp",
            "type": "String"
        },
        "connections_eventhubs_1_externalid": {
            "defaultValue": "/subscriptions/230ff3f4-715a-44bf-bd95-09be0c6a25a2/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/connections/eventhubs-1",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_JOLOGICAPPTEST3_name')]",
            "location": "eastus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_events_are_available_in_Event_Hub": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['eventhubs_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent('testeventhubjohub')}/events/batch/head",
                                "queries": {
                                    "consumerGroupName": "$Default",
                                    "contentType": "application/octet-stream",
                                    "maximumEventsCount": 50
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@variables('claimList')",
                            "actions": {
                                "For_each_2": {
                                    "foreach": "@variables('configList')",
                                    "actions": {
                                        "Set_variable_3": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "claimwithconfig",
                                                "value": "{\"claim\":@{items('For_each')},\"config\":@{items('For_each_2')}}"
                                            }
                                        },
                                        "Set_variable_4": {
                                            "runAfter": {
                                                "Set_variable_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "template",
                                                "value": "@{items('For_each_2')?['template_name']}"
                                            }
                                        },
                                        "Switch": {
                                            "runAfter": {
                                                "Set_variable_4": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "cases": {
                                                "Case": {
                                                    "case": "template1",
                                                    "actions": {
                                                        "HttpTriggerTemplate1": {
                                                            "runAfter": {},
                                                            "type": "Function",
                                                            "inputs": {
                                                                "function": {
                                                                    "id": "[concat(parameters('sites_jotestfuncappjava_externalid'), '/functions/HttpTriggerTemplate1')]"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "Case_2": {
                                                    "case": "template2",
                                                    "actions": {
                                                        "HttpTriggerTemplate2": {
                                                            "runAfter": {},
                                                            "type": "Function",
                                                            "inputs": {
                                                                "function": {
                                                                    "id": "[concat(parameters('sites_jotestfuncappjava_externalid'), '/functions/HttpTriggerTemplate2')]"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "default": {
                                                "actions": {}
                                            },
                                            "expression": "@variables('template')",
                                            "type": "Switch"
                                        }
                                    },
                                    "runAfter": {
                                        "Set_variable_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Set_variable": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "gpiList",
                                        "value": "@json(items('For_each'))?['gpi_list']"
                                    }
                                },
                                "Set_variable_2": {
                                    "runAfter": {
                                        "graphql": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "configList",
                                        "value": "@body('graphql')?['data']?['config']"
                                    }
                                },
                                "graphql": {
                                    "runAfter": {
                                        "Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Function",
                                    "inputs": {
                                        "body": {
                                            "query": "query Configs { config(id: @{variables('gpiList')}) { config_name template_name }}"
                                        },
                                        "function": {
                                            "id": "[concat(parameters('sites_jonodejsfuncapp_externalid'), '/functions/graphql')]"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_8": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "encodedClaimList",
                                        "type": "string",
                                        "value": "@base64ToString(triggerBody()?['ContentData'])"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "claimList",
                                        "type": "array",
                                        "value": "@array(variables('encodedClaimList'))"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_3": {
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "claim",
                                        "type": "string",
                                        "value": "null"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_4": {
                            "runAfter": {
                                "Initialize_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "configList",
                                        "type": "array",
                                        "value": null
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_5": {
                            "runAfter": {
                                "Initialize_variable_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "config",
                                        "type": "string",
                                        "value": "null"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_6": {
                            "runAfter": {
                                "Initialize_variable_5": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "gpiList",
                                        "type": "array",
                                        "value": null
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_7": {
                            "runAfter": {
                                "Initialize_variable_6": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "claimwithconfig",
                                        "type": "string",
                                        "value": "null"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_8": {
                            "runAfter": {
                                "Initialize_variable_7": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "template",
                                        "type": "string",
                                        "value": "null"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "eventhubs_1": {
                                "connectionId": "[parameters('connections_eventhubs_1_externalid')]",
                                "connectionName": "eventhubs-1",
                                "id": "/subscriptions/230ff3f4-715a-44bf-bd95-09be0c6a25a2/providers/Microsoft.Web/locations/eastus/managedApis/eventhubs"
                            }
                        }
                    }
                }
            }
        }
    ]
}
